<h1>Rotten Mangoes</h1>
<%= link_to "Submit a movie!", new_movie_path %>
<h2>Search</h2>

<%= form_tag movies_path, method: "GET" do %>
  <%= label_tag(:title, "Title:") %>
  <%= text_field_tag :title, nil, placeholder: "Search by movie title" %>
  <%= label_tag(:director, "Director:") %>
  <%= text_field_tag :director, nil, placeholder: "Search by director" %>
  <%= label_tag(:duration, "Duration:") %>
  <%= select_tag(:duration, options_for_select([['', 1],['Under 90 minutes', 2], ['Between 90 and 120 minutes', 3],  ['Over 120 minutes', 4]])) %>
  <%= submit_tag("Search") %>
<% end %>

<hr>
<% @movies.each do |movie| %>
  <%= link_to image_tag(movie.poster_image_url(:thumb)), movie_path(movie) %>
  <h2><%= link_to movie.title, movie_path(movie) %></h2>
  <h3><%= formatted_date(movie.release_date) %></h3>
  <h4>Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</h4>
  <p><%= movie.description %></p>
  <h3><b>Average rating:</b> <%= movie.review_average %>/10</h3>
  <hr>
<% end %>
