<%= link_to "Back to all movies", movies_path %><br/>

<div class="media"><!-- start of movies list -->
  <div class="media-left"><!-- start of movies image -->
    <%= link_to image_tag(@movie.poster_image_url(:thumb)), movie_path(@movie) %>
  </div><!-- end of movies image -->
  <div class="media-body">
    <h2><%= @movie.title %> (<%= link_to "edit", edit_movie_path(@movie) %>, <%= link_to "delete", movie_path(@movie), method: :delete, data: {confirm: "You sure?"} %>)</h2>
    <h3><%= formatted_date(@movie.release_date) %></h3>
    <h4>Dir. <%= @movie.director %> | <%= @movie.runtime_in_minutes %> minutes</h4>
    <p><%= @movie.description %></p>
    <h3><b>Average rating:</b> <%= @movie.review_average %>/10</h3>
  </div>
  <hr>
</div><!-- end of movies list -->


<h3>Reviews of <em><%= @movie.title %></em></h3>
<% if current_user %>
  <% @movie.reviews.each do |review| %>
    <p><%= review.text %></p>
    <p><%= review.rating_out_of_ten %>/10</p>
    <small>- <%= review.user.full_name %></small><br/>
  <% end %>
  <p><%= link_to "Write a review!", new_movie_review_path(@movie) %></p>
<% else %>
  <p>Please <%= link_to "log in", new_session_path %> to see reviews and add your own.</p> 
<% end %>