<%= paginate @users %>

<%= link_to "Add User", admin_users_new_path %>

<table border="1">
  <tr>
    <th>
    
    </th>
    <th>
    Name
    </th>
    <th>
    Email
    </th>
    <th>
    Admin
    </th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td>
        <%= link_to "Edit", edit_admin_user_path(user) %>
      </td>
      <td>
        <b><%= user.full_name %></b>
      </td>
      <td>
      <%= user.email %>
      </td>
      <td>
        <% if user.admin == true %>
          yes
        <% else %>
          no
        <% end %>
      </td>    
    </tr>
  <% end %>
</table>